<!DOCTYPE html>
<html>
<head>
  <title>{{subject}}</title>
</head>
<body>
  <p>Hello {{username}},</p>
  <p>Thank you for signing up! Your verification code is:</p>
  <p><strong>{{verificationCode}}</strong></p>
  <p>Please use this code to verify your email address.</p>
  <p>This code will expire in {{expiryTime}} minutes.</p>
  <p>If you didn't request this verification, please ignore this email.</p>
  <p>Best regards,<br>The Team</p>
</body>
</html>
